1. What are data structures, and why are they important?t
- Data structure is way of organising and storing data so that it can easily accessable and manipulating efficiently
 It is important because of its efficiency ,organization,scalablity,and problem solving.

2. Explain the difference between mutable and immutable data types with examples?
- Mutable data types are allows its value to be modified after its creation but immutable data type can not be change once it is created
  example-lists are mutable and tupples are immutable.

3. What are the main differences between lists and tuples in Python?

- Main difference between list and tuples is list is mutable and tuples are immutable.

4. Describe how dictionaries store data?

- Dictonary store the data as key value pair.

5. Why might you use a set instead of a list in Python?

- Sets  prioritize uniqueness and efficient membership testing, whereas lists focus on order and mutability due to uniqueness of sets set is used.

6. What is a string in Python, and how is it different from a list?

- Strings in Python are sequences of characters enclosed in quotes ('' or “”).
  it is differentfrom list because Strings are immutable, meaning they cannot be changed once created, while lists are mutable and can be modified as needed.

7. How do tuples ensure data integrity in Python?

- Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle.

8. What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores data in key-value pairs, similar to a dictionary. It uses a hash function to compute an index for each key, which determines the position where the corresponding value is stored in an array.

9. Can lists contain different data types in Python?

- Yes lists contain different data type in python.

10. Explain why strings are immutable in Python?

- In Python, strings are immutable because of several key advantages related to efficiency, safety, and design principles.and its ensures that once a string is created, its value remains constant throughout its existence.

11. What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries are highly important in Python due to their fast access time and flexibility. They allow for quick data retrieval based on keys, which can significantly speed up the performance of a program, especially when dealing with large datasets where in lists  you have to traverse through each element to find a value

12. Describe a scenario where using a tuple would be preferable over a list?

- Using a tuple is preferable over a list when you need to store a fixed collection of values.
scnario is Imagine you're building a mapping application, and you need to store the latitude and longitude of various cities.

13. How do sets handle duplicate values in Python?

- sets handle duplicate value because in python set eliminate duplicate values automatically because set is an unordered collection of unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?

- For lists The "in" keyword checks whether a value exists in the list
but in dictonaries The in keyword checks whether a key exists in the dictionary — not the values.

15. Can you modify the elements of a tuple? Explain why or why not?

- NO we can not modify the element in tuple as the tuple is immutable means we can not modify the data once it is entered

16. What is a nested dictionary, and give an example of its use case?

- A nested dictionary in Python is a dictionary where the values themselves are dictionaries. This allows you to store structured or hierarchical data in a convenient and readable way.
example- students details can be stored like name ,age ,section and marks and with the help of nested dictonary we can find the data easily.

17. Describe the time complexity of accessing elements in a dictionary?

- The time complexcity of accessing elements in dictionary is 0(1) constant time This means Python can get the value instantly, no matter how big the dictionary is.

It uses a system called a hash table to jump straight to the value.

18. In what situations are lists preferred over dictionaries?
-  we would prefer list when we need ordered data and when you dont need key value pair

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

- Order of key value pair in dictionary is not guranted When you inserted items into a dictionary, the order in which they appeared during iteration could be unpredictable, meaning that Python didn't promise to keep the same order as when they were added.
 data retrieval works fast and efficient.Whether the dictionary is ordered or not, you can retrieve values by their key in constant time (O(1)), making it very efficient.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

- List-You retrieve an item in a list by using its index (position).
- Index-based retrieval is very fast (O(1)), but you need to know the exact position of the item.
- If you don't know the index and need to search for a value, you'll have to iterate through the list, which takes O(n) time (linear search).

Dictionary-You retrieve a value in a dictionary by using its key, not an index.

- Key-based retrieval is extremely fast and happens in constant time (O(1)), thanks to the hash table implementation.
- You don't need to worry about the position or order of items, as long as you know the key.
- You don't need to iterate over the dictionary unless you're searching for a specific key.

In [ ]:
#1.Write a code to create a string with your name and print it?
my_name="Madhusmita Thakur"
print("my name is:",my_name)

my name is: Madhusmita Thakur

In [ ]:
#2.Write a code to find the length of the string "Hello World"
len("hello world")

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase
text="hello"
upper_text=text.upper()
print("upper case",upper_text)

upper case HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
text = text.replace("apple", "orange")
print(text)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it
print(list(range(1,6)))

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers=[1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numbers=[10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors=('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers=(10, 20, 5, 15)
min(numbers)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry','kiwi')
print('kiwi' in fruits)

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Madhusmita",
    "age": 29,
    "city": "Bhubaneswar"
}

print(person)

{'name': 'Madhusmita', 'age': 29, 'city': 'Bhubaneswar'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person={'name': 'John', 'age': 25,"country": "USA"}
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 25}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [25, 41, 52, 71, 80]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.

my_list = ["apple", "banana", "cherry", "date", "elderberry"]


print(my_list[3])

date

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [ ]:
#30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'apple', 'banana', 'cherry'}